        <footer>
            <p>&copy; 2024 Davide Branchi. All Rights Reserved.</p>
        </footer>
    </body>
    <script src="{{ URL }}vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ URL }}vendor/realrashid/sweet-alert/resources/js/sweetalert.all.js"></script>
</html>