{% include "_templates/header.twig" %}

<div class="d-flex align-items-center justify-content-center" style="height: 500px">
    <div class="alert alert-success col-8">{{ successMsg }}</div>
</div>

{% include "_templates/footer.twig" %}